enrichlookuprecord.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>dd5c0f23-015e-1000-4190-02b78b055a54</groupId>
  <name>EnrichLookupRecord</name>
  <snippet>
    <controllerServices>
      <id>d9748afd-fdbb-3496-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>
            <name>Pretty Print JSON</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>full-schema-attribute</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-text-property</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>"store"</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>{
	"namespace": "nifi",
	"name": "store_event",
	"type": "record",
	"fields": [
		{ "name": "created_at", "type": "string" },
		{ "name": "id_store", "type": "int" },
		{ "name": "event_type", "type": "string" },
		{ "name": "id_transaction", "type": "string" },
		{ "name": "id_product", "type": "int" },
		{ "name": "value_product", "type": "int" },
		{ "name": "city", "type": "string" }
	]
}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>eae09561-773c-3ca4-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonTreeReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-text-property</value>
        </entry>
        <entry>
          <key>schema-registry</key>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>{
	"namespace": "nifi",
	"name": "store_event",
	"type": "record",
	"fields": [
		{ "name": "created_at", "type": "string" },
		{ "name": "id_store", "type": "int" },
		{ "name": "event_type", "type": "string" },
		{ "name": "id_transaction", "type": "string" },
		{ "name": "id_product", "type": "int" },
		{ "name": "value_product", "type": "int" }
	]
}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonTreeReader</type>
    </controllerServices>
    <controllerServices>
      <id>f8806b67-c8b1-348e-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-lookup-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>1</key>
          <value>
            <name>1</name>
          </value>
        </entry>
        <entry>
          <key>2</key>
          <value>
            <name>2</name>
          </value>
        </entry>
        <entry>
          <key>3</key>
          <value>
            <name>3</name>
          </value>
        </entry>
        <entry>
          <key>4</key>
          <value>
            <name>4</name>
          </value>
        </entry>
        <entry>
          <key>5</key>
          <value>
            <name>5</name>
          </value>
        </entry>
      </descriptors>
      <name>SimpleKeyValueLookupService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>1</key>
          <value>paris</value>
        </entry>
        <entry>
          <key>2</key>
          <value>lille</value>
        </entry>
        <entry>
          <key>3</key>
          <value>marseille</value>
        </entry>
        <entry>
          <key>4</key>
          <value>toulouse</value>
        </entry>
        <entry>
          <key>5</key>
          <value>nice</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.lookup.SimpleKeyValueLookupService</type>
    </controllerServices>
    <funnels>
      <id>5171502b-86c2-3a42-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <position>
        <x>727.2000018310546</x>
        <y>358.5600341796875</y>
      </position>
    </funnels>
    <funnels>
      <id>62f487c8-dd5f-3f65-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <position>
        <x>727.2000433349608</x>
        <y>0.0</y>
      </position>
    </funnels>
    <processors>
      <id>a48dc865-0eb2-32ba-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>142.55999511718755</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File Size</key>
            <value>
              <name>File Size</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>
              <name>Data Format</name>
            </value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>
              <name>Unique FlowFiles</name>
            </value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>
              <name>generate-ff-custom-text</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File Size</key>
            <value>0B</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Data Format</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Unique FlowFiles</key>
            <value>false</value>
          </entry>
          <entry>
            <key>generate-ff-custom-text</key>
            <value>{
"created_at" : "${now()}",
"id_store" : ${random():mod(5):toNumber():plus(1)},
"event_type" : "store capacity",
"id_transaction" : "${random():toString()}",
"id_product" : ${random():mod(1000):toNumber()},
"value_product" : ${now():toNumber()}
}</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GenerateFlowFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
    </processors>
    <processors>
      <id>c7809e2c-6baf-3c59-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <position>
        <x>577.4399627685546</x>
        <y>146.87996093750007</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>record-reader</name>
            </value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>record-writer</name>
            </value>
          </entry>
          <entry>
            <key>lookup-service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.lookup.LookupService</identifiesControllerService>
              <name>lookup-service</name>
            </value>
          </entry>
          <entry>
            <key>result-record-path</key>
            <value>
              <name>result-record-path</name>
            </value>
          </entry>
          <entry>
            <key>routing-strategy</key>
            <value>
              <name>routing-strategy</name>
            </value>
          </entry>
          <entry>
            <key>key</key>
            <value>
              <name>key</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>record-reader</key>
            <value>eae09561-773c-3ca4-0000-000000000000</value>
          </entry>
          <entry>
            <key>record-writer</key>
            <value>d9748afd-fdbb-3496-0000-000000000000</value>
          </entry>
          <entry>
            <key>lookup-service</key>
            <value>f8806b67-c8b1-348e-0000-000000000000</value>
          </entry>
          <entry>
            <key>result-record-path</key>
            <value>/city</value>
          </entry>
          <entry>
            <key>routing-strategy</key>
            <value>route-to-matched-unmatched</value>
          </entry>
          <entry>
            <key>key</key>
            <value>/id_store</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LookupRecord_SimpleKV</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LookupRecord</type>
    </processors>
    <processors>
      <id>f59fd629-bedf-3dc9-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <position>
        <x>1143.359970092773</x>
        <y>151.20002441406257</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>1000</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>5</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>2c4496df-60cc-30a1-0000-000000000000</id>
      <parentGroupId>9a7688cc-ec0f-337d-0000-000000000000</parentGroupId>
      <position>
        <x>1146.2402288818357</x>
        <y>395.9999853515626</y>
      </position>
      <bundle>
        <artifact>nifi-solr-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Solr Type</key>
            <value>
              <name>Solr Type</name>
            </value>
          </entry>
          <entry>
            <key>Solr Location</key>
            <value>
              <name>Solr Location</name>
            </value>
          </entry>
          <entry>
            <key>Collection</key>
            <value>
              <name>Collection</name>
            </value>
          </entry>
          <entry>
            <key>Content Stream Path</key>
            <value>
              <name>Content Stream Path</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Commit Within</key>
            <value>
              <name>Commit Within</name>
            </value>
          </entry>
          <entry>
            <key>JAAS Client App Name</key>
            <value>
              <name>JAAS Client App Name</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Solr Socket Timeout</key>
            <value>
              <name>Solr Socket Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Solr Connection Timeout</key>
            <value>
              <name>Solr Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Solr Maximum Connections</key>
            <value>
              <name>Solr Maximum Connections</name>
            </value>
          </entry>
          <entry>
            <key>Solr Maximum Connections Per Host</key>
            <value>
              <name>Solr Maximum Connections Per Host</name>
            </value>
          </entry>
          <entry>
            <key>ZooKeeper Client Timeout</key>
            <value>
              <name>ZooKeeper Client Timeout</name>
            </value>
          </entry>
          <entry>
            <key>ZooKeeper Connection Timeout</key>
            <value>
              <name>ZooKeeper Connection Timeout</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Solr Type</key>
            <value>Standard</value>
          </entry>
          <entry>
            <key>Solr Location</key>
            <value>localhost</value>
          </entry>
          <entry>
            <key>Collection</key>
          </entry>
          <entry>
            <key>Content Stream Path</key>
            <value>/update/json/docs</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>application/json</value>
          </entry>
          <entry>
            <key>Commit Within</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>JAAS Client App Name</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Solr Socket Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Solr Connection Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Solr Maximum Connections</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Solr Maximum Connections Per Host</key>
            <value>5</value>
          </entry>
          <entry>
            <key>ZooKeeper Client Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>ZooKeeper Connection Timeout</key>
            <value>10 seconds</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSolrContentStream</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>connection_failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.solr.PutSolrContentStream</type>
    </processors>
  </snippet>
  <timestamp>11/02/2017 15:38:58 CET</timestamp>
</template>